{{ define "user_data_edit_component" }}
<div>
    <form hx-put="/v1/user/update" class="flex flex-col gap-4" id="user-profile-area">
        <div class="flex flex-col">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" value="{{ .Username }}" class="bg-[#c4c4c4] px-4 py-3 outline-none w-[280px] rounded-lg border-2 transition-colors duration-100 border-solid focus:border-[#596A95] border-[#2B3040]">
        </div>
        <div class="flex flex-col">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" value="{{ .Email }}" class="bg-[#c4c4c4] px-4 py-3 outline-none w-[280px] rounded-lg border-2 transition-colors duration-100 border-solid focus:border-[#596A95] border-[#2B3040]">
        </div>

        <input type="hidden" name="password" value="0">

        <div class="flex gap-2">
            <button type="submit" class="bg-green-600 px-6 py-2 rounded-lg text-white hover:bg-green-700">Simpan</button>
            <button hx-get="/v1/user/me" hx-target="#user-profile-area" hx-swap="outerHTML" class="bg-red-600 px-6 py-2 rounded-lg text-white hover:bg-red-700">Batal</button>
        </div>
    </form>
</div>
{{ end }}